NadiasBot/config.py
NadiasBot/*.session
NadiasBot/*.session-journal
NadiasBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
NadiasBot/modules/helper_funcs/temp.txt
NadiasBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
NadiasBot.session-journal
updates.txt
*.exe
resources
shell_output.txt
